*

!.gitignore

!manage.py

!/html_file
!/html_file/*

!/app1
!/app1/migrations
!/app1/migrations/__init__.py
!/app1/__init__.py
!/app1/admin.py
!/app1/apps.py
!/app1/models.py
!/app1/tests.py
!/app1/views.py

!/my_site
!/my_site/asgi.py
!/my_site/settings.py
!/my_site/urls.py
!/my_site/wsgi.py

!/static
!/static/*
!/static/*/*
!/static/*/*/*

!db.sqlite3